/* *{
   background-color: violet;
   border-radius: 50px;
   
}
img{
    height: 200px;
    width: 200px;
}
.header{
    color:palegreen;
    font-size : smaller;
    
}
.container{
    color:coral;
    height : 200px;
    width: 200px;
    background-color: green;
   
}

.des{
    color: purple;
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
    
}
 */
